<!DOCTYPE html>

<html>

<head>
    <title>About</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="div-main-content">
        {{>header}}
        <p>This site was created by Navid Sadeghi. It uses data from mapbox.com and darksky.net!</p>
        <img class = "portrait" src="./img/me.jpg"><img>
    </div>
    
    {{>footer}}
</body>

</html>